Example
app_exe
Data
Guide
Kalliatakis
experimentation.ipynb
Feature_Selection.txt
model_summary.xlsx
DockerTest
Notebooks
__pycache__
tests
__main__.py
.vscode
.github
.gitignore
dockerfile_init
app_init.py
.env
docker-compose.yml
README.md
LICENCE
templates_init
Materials
Guide