<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Simplatab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Simplatab</h1>
    <form action="/submit" method="post">
        <h2>Data Bias Detection</h2>
        <div class="form-group">
            <label for="facet">Select Facet:</label>
            <select class="form-control" id="facet" name="facet" required>
                {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
        </div>
        <h2>Hyperparameters selection</h2>
        <div class="form-group">
            <label for="number_of_k_folds">Number of K-Folds:</label>
            <input type="number" class="form-control" id="number_of_k_folds" name="number_of_k_folds" required>
        </div>
        <div class="form-group">
            <label for="apply_grid_search">Apply Grid Search:</label>
            <select class="form-control" id="apply_grid_search" name="apply_grid_search">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="randomized">Randomized:</label>
            <select class="form-control" id="randomized" name="randomized">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="correlation_limit">Correlation Limit:</label>
            <input type="number" step="0.01" class="form-control" id="correlation_limit" name="correlation_limit" required>
        </div>
        <div class="form-group">
            <label for="metric_for_threshold_optimization">Metric For Threshold Optimization:</label>
            <select class="form-control" id="metric_for_threshold_optimization" name="metric_for_threshold_optimization">
                <option value="Specificity">Specificity</option>
                <option value="Sensitivity">Sensitivity</option>
                <option value="AUC">AUC</option>
                <option value="F-score">F-score</option>
                <option value="Accuracy">Accuracy</option>
                <option value="Balanced Accuracy">Balanced Accuracy</option>
            </select>
        </div>
        <h4>Machine Learning Models</h4>
        <div class="form-group">
            <label for="logistic_regression">Logistic Regression:</label>
            <select class="form-control" id="logistic_regression" name="logistic_regression">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="support_vector_machines">Support Vector Machines:</label>
            <select class="form-control" id="support_vector_machines" name="support_vector_machines">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="random_forest">Random Forest:</label>
            <select class="form-control" id="random_forest" name="random_forest">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="stochastic_gradient_descent">Stochastic Gradient Descent:</label>
            <select class="form-control" id="stochastic_gradient_descent" name="stochastic_gradient_descent">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="multi_layer_neural_network">Multi-Layer Neural Network:</label>
            <select class="form-control" id="multi_layer_neural_network" name="multi_layer_neural_network">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="decision_trees">Decision Trees:</label>
            <select class="form-control" id="decision_trees" name="decision_trees">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="xgboost">XGBoost:</label>
            <select class="form-control" id="xgboost" name="xgboost">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>