<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ML Pipeline Interface</title>
</head>
<body>
  <h1>Machine Learning Pipeline Interface</h1>
  <form action="/run" method="post">
    <label for="input_folder">Input Folder:</label>
    <input type="text" id="input_folder" name="input_folder" required><br><br>
    <label for="output_folder">Output Folder:</label>
    <input type="text" id="output_folder" name="output_folder" required><br><br>
    <input type="submit" value="Run Pipeline">
  </form>
</body>
</html>